.gallery {
  background-color: yellow;
  height: 100vh;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  grid-gap: 15px;
  width: 100%;
}

h4 {
  margin: 0;
  padding: 1rem;
}

img {
  max-width: 100%;
  height: auto;
  cursor: pointer;
}
