.home
{
    display: flex;
    height: 100vh;
    font-size: large;
}

.posts
{
    width:50%;
    margin: 1rem 0.5rem 1rem 1rem;
    background-color: rgb(55, 43, 217);
    text-align: center;
    padding-top: 0.5rem;
}

.images {
    width: 50%;
    margin: 1rem 1rem 1rem 0.5rem;
    background-color: rgb(55, 43, 217);
    text-align: center;
    padding-top:0.5rem;
}