div {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 15px;
  height: 100vh;
}

#topMenu {
  grid-column: 1/-1;
}

#mainContent {
  overflow: auto;
  grid-row-start: 2;
  grid-column: 2/-1;
}

#leftMenu {
  grid-row-start: 2;
}

#bottomMenu {
  grid-row-start: 3;
  grid-column: 1/-1;
}
