<nav>
    <ul>
        <li>
            <span>::</span>
            <a routerLink="home" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a>
        </li>
        <li>
            <span>::</span>
            <a routerLink="posts" routerLinkActive="active" ariaCurrentWhenActive="page">Posts</a>
        </li>
        <li>
            <span>::</span>
            <a routerLink="gallery" routerLinkActive="active" ariaCurrentWhenActive="page">Gallery</a>
        </li>
        <li>
            <span>::</span>
            <a routerLink="contact-us" routerLinkActive="active" ariaCurrentWhenActive="page">Contact Us</a>
        </li>
    </ul>
</nav>