ul {
  list-style-type: none;
  padding-right: 1rem;
}

a {
  text-decoration: none;
  color: #000;
}

:host-context(.left-menu) ul li {
  margin-left: 1rem;
  padding-bottom: 1rem;
}
:host-context(.top-menu, .bottom-menu) ul li {
  display: inline;
  margin-left: 1rem;
}
